/*HOMEPAGE STYLE*/
header{
    display: flex;
    gap: 14px;
    max-width: 1920px;
    padding: 18px 28px 0;
}

header .header-info{
    display: flex;
    align-items: center;
    gap: 7px;
}

header a {
    color: inherit;
    text-decoration: none;
}

header a:hover {
    color: var(--red);
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1920px;
    padding: 18px 28px;
    position: sticky;
    top: 0;
    z-index: 9;
}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 14px;
    align-items: center;
}


nav ul li a{
    transition: .2s ease-in;
}

nav ul li a.active{
    color: var(--red);
}

nav ul li a.active::after{
    content: ' 〉';
}

nav ul li a.active::before{
    content: '〈 ';
}

nav ul li a{
    color: inherit;
    text-decoration: none;
}

/*------<-HOMEPAGE STYLE->-------*/