.main .main_see-all .main_see-all-banner .section__card{
    height: 100%;
    max-height: 200px;
    margin: 0 auto 24px;
}

.main .main_see-all .main_see-all-banner .section__card img{
    width: revert-layer;
}

.main .title_main{
    color: var(--white-dark);
    font-size: 30px;
    font-weight: 700;
    border-bottom: 1px solid var(--white-dark);
    width: fit-content;
    margin: 0 auto 24px;
    padding: 0 7px;
}

@media (max-width: 768px) {
    .main .title_main{
        font-size: 26px;
    }
}

.main .sub-title_main{
    font-size: 28px;
    color: var(--white-dark);
}

@media (max-width: 768px) {
    .main .sub-title_main{
        font-size: 20px;
    }
}

section .main_entrees{
    margin-bottom: 35px;
}

section .main_entrees:last-child{
    margin-bottom: 0px;
}


section .main_entrees .content__card{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 14px;
    justify-content: center;
    align-items: center;
}

section .main_entrees.soups .content__card{
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 321px));
    gap: 14px;
    justify-content: center;
    align-items: center;
    margin: auto;
    align-content: center;
}

@media (max-width: 575px) {
    section .main_entrees .content__card, section .main_entrees.soups .content__card{
        grid-template-columns: 1fr 1fr;
    }
}

section .section__card{
    position: relative;
    border: 2px solid var(--white-transparent);
    border-radius: 14px;
    overflow: hidden;
    cursor: pointer;

}

section .section__card img{
    object-fit: cover;
    width: 100%;
}

section .section__card .card__text{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000de;
    font-size: 28px;
    transition: all .5s;

}

section .section__card:hover .card__text{
    top: -100%;
}

.main-category{
    margin: auto;
}

.main-category .card .card-body{
    margin-bottom: 20px;
}

@media (max-width: 768px) {
    .main-category .card .card-body h2{
        font-size: 18px;
    }   
}